* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  color: var(--text-color);
}

:root {
  --primary-color: #151515;
  --primary-color-50: rgba(21, 21, 21, 0.5);
  --secondary-color: #56005b;
  --secondary-color-50: rgba(86, 0, 91, 0.5);
  --text-color: #fff;
  --profile-img-url: url(./assets/avatar-dark.png);
  --switch-bg-url: url(./assets/icons/theme-dark-moon.svg);
}

.light-theme {
  --primary-color: #eaeaea;
  --primary-color-50: rgba(234, 234, 234, 0.5);
  --secondary-color: #b8caff;
  --secondary-color-50: rgba(125, 203, 255, 0.5);
  --text-color: #101422;
  --profile-img-url: url(./assets/avatar-light.png);
  --switch-bg-url: url(./assets/icons/theme-light-sun.svg);

  #profile > img {
    content: var(--profile-img-url);
  }
}

body {
  min-height: 100%;
  background: radial-gradient(
    circle,
    var(--secondary-color) 0%,
    var(--primary-color) 75%
  );
  background-size: cover;
  overflow-x: hidden;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

#container {
  max-width: 26.5rem;
  margin: 2rem auto;
  padding: 1rem 4rem;
  border-radius: 2rem;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 2.5rem 1rem var(--secondary-color-50);
  transition: box-shadow 10s;
  animation: 10s infinite alternate glow;
}

#profile {
  text-align: center;
  padding: 1.5rem;
}

#profile img {
  width: 7rem;
  border-radius: 50%;
  border: 0.125rem solid var(--secondary-color);
  box-shadow: 0 0 2.5rem 1rem var(--primary-color);
  animation: 5s infinite alternate glow;
}

#profile p {
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  text-shadow: 0 0 0.5rem var(--text-color);
}

#switch {
  width: 4rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  position: relative;
}

#switch button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background: #fff var(--switch-bg-url) no-repeat center;
  background-size: 60%;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}
#switch button:hover {
  box-shadow: 0 0 1rem var(--text-color);
}
#switch button:active {
  box-shadow: 0 0 1rem var(--text-color) inset;
}

.light-theme #switch button {
  left: initial;
  right: 0;
}

#switch span {
  display: block;
  width: 4rem;
  height: 1.5rem;
  background: var(--primary-color-50);
  border: 1px solid var(--secondary-color);
  border-radius: 2rem;
  backdrop-filter: blur(4px);
}

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul li a {
  border: 0.0625rem solid var(--secondary-color);
  border-radius: 0.5rem;
  background: var(--primary-color-50);
  backdrop-filter: blur(4px);
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
}
ul li a:hover {
  border: 0.0625rem solid var(--secondary-color);
  background: var(--primary-color);
  box-shadow: 0 0 1rem var(--primary-color);
}
ul li a:active {
  box-shadow: 0 0 1rem var(--secondary-color) inset;
}

ul li img {
  width: 1.5rem;
  position: absolute;
  left: 25%;
}

#social-links {
  padding: 1.5rem 0;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

#social-links a {
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.5s;
}
#social-links a:hover {
  background-color: var(--primary-color-50);
  border: 0.0625rem solid var(--secondary-color);
  box-shadow: 0 0 0.5rem var(--secondary-color) inset;
}
#social-links a:active {
  background-color: transparent;
}

#social-links img {
  width: 1.5rem;
}
#social-links img:hover {
  filter: drop-shadow(0 0 0.5rem var(--primary-color));
}
#social-links img:active {
  filter: invert();
}

footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  backdrop-filter: brightness(0.9);
  padding: 0.5rem 0;
  border-radius: 0 0 2rem 2rem;
  text-align: center;
  font-size: 0.75rem;
}

footer a {
  text-decoration: none;
  transition: all 0.5s;
}
footer a:hover {
  color: var(--secondary-color);
}

@keyframes glow {
  from {
    box-shadow: 0 0 2.5rem 1rem var(--secondary-color-50);
  }
  50% {
    box-shadow: 0 0 2.5rem 1rem rgba(150, 21, 21, 0.2);
  }
  to {
    box-shadow: 0 0 2.5rem 1rem var(--primary-color-50);
  }
}
